/* css-reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

/* css-reset-end */

/* variables */
/* :root points html tag */
:root {
    --primary-color: #F54747;
}



/* typography */
body {
    font-family: 'Rubik', sans-serif;
}



html {
    font-size: 16px;
}

/* custom/global css */

header {
    /* padding-top:56px; */
    padding-top: 3.5rem;
    /* rem  = 16px */
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.font-bold {
    font-weight: 800;
}


.hamburger-icon {
    height: 48px;
    width: 48px;
}

.sidebar {
    background-color: orange;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3rem;
    transform: translateX(100%);
    transition: transform 1s;
}

.sidebar.active {
    transform: translateX(0%);
}


.btn {
    border: 1px solid var(--primary-color);
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
}

.btn:hover {
    box-shadow: 5px 10px 26px -14px var(--primary-color);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color)
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: white;
    transition: all .5s;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.close-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background-color: transparent;
    border: transparent;
}

.banner {
    display: grid;
    gap: 2rem;
}

.banner p:first-child {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 1rem;
}

.banner button {
    margin-top: 1rem;
    background-color: var(--primary-color);
    border-radius: .5rem;
    color: white;
    padding: 1rem 3rem;
    border: transparent;
    transition: all .2s;

}

.banner button:hover {
    box-shadow: 5px 10px 26px -14px var(--primary-color);
}

/* media query */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: .75rem;
    padding-right: .75rem;
}

@media(min-width:640px) {
    .container {
        max-width: 640px;
    }

    .banner {
        gap: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

}

@media(min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media(min-width:1024px) {
    .container {
        max-width: 1024px;
    }

    .hamburger-icon,
    .close-icon {
        display: none;
    }

    .sidebar {
        position: static;
        transform: none;
        background-color: transparent;
        padding: 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar ul {
        display: flex;
        gap: 1rem;
    }

    .sidebar .nav-links {
        flex-grow: 1;
        justify-content: center;
    }


}

@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}

@media(min-width:1536px) {

    html {
        font-size: 19px;
        /* now value of 1rem  = 19px */
    }

    .container {
        max-width: 1536px;
    }
}