/* css-reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* css-reset-end */

/* variables */


/* typography */
body {
    font-family: 'Rubik', sans-serif; 
}



html {
    font-size: 16px;
}

/* custom/global css */

header {
    /* padding-top:56px; */
    padding-top: 3.5rem;
    /* rem  = 16px */
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.font-bold{
    font-weight: 800;
}


.hamburger-icon {
    height: 48px;
    width: 48px;
}

.sidebar {
    display: none;
}

.banner {
    display: grid;
    gap: 2rem;
}

.banner p:first-child {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 1rem;
}

.banner button {
    margin-top: 1rem;
    background-color: #F54747;
    border-radius: .5rem;
    color:white;
    padding:1rem 3rem;
    border: transparent;
    transition: all .2s;

}
.banner button:hover {
    box-shadow: 5px 10px 26px -14px #F54747;
}

/* media query */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: .75rem;
    padding-right: .75rem;
}

@media(min-width:640px) {
    .container {
        max-width: 640px;
    }

    .banner {
        gap: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

}

@media(min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media(min-width:1024px) {
    .container {
        max-width: 1024px;
    }
}

@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}

@media(min-width:1536px) {

    html {
        font-size: 19px;
        /* now value of 1rem  = 19px */
    }

    .container {
        max-width: 1536px;
    }
}